@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}
