@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

  <a
  href="https://unbarrier.me/"
  target="_blank"
  rel="noopener noreferrer"
  className="cherry-bomb-one-regular underline underline-offset-2 transition-opacity hover:opacity-90"
  style={{ color: "#38ff99" }}
>
  unbarrier.me
</a>

}
